
<section class="biographies">
<header class="biographies__header">
  <h1 class="biographies__title">
    Goku
    <br>
    Dragon Ball Z
  </h1>
</header>

<ul class="biographies__list">
  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>

  <li class="biographies__item">
    <app-biographies-item></app-biographies-item>
  </li>
</ul>
</section>
