@import "src/styles";


:host-context {
  display: flex;
  position: relative;

  &:hover  {
    .collection-avatar-content:before{
      width: 100%;
    }
  }
}

.collection-avatar-content{

  display: flex;
  text-decoration: none;
  transition: 0.25s;
  &--active{
    width: 100%;
    transform: scale(1.1);
    background: linear-gradient(to right, $secondary-color,  transparent);;

  }
  &:before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(to right, $secondary-color,  transparent);;
    z-index: 0;
    transition: 0.25s;
  }

  &__figure {
    width: 3.375rem;
    height: 3.375rem;
    overflow: hidden;
    border: 0.0625rem solid $secondary-color;
    z-index: 1;
    background-size: cover;
    background-position: top;
  }


  &__img {
    width: 100%;
  }

  &__text {
    margin-left: $small-space;
    color: $text-color;
    z-index: 1;
    display: flex;
    align-items: center;
  }
}


