@import "src/styles";


:host-context {
  display: flex;
  position: relative;
  &:hover  {
    .collection-avatar{
      transform: scale(1.2);
      z-index: 1;
      -webkit-box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
      -moz-box-shadow: 6px 6px 6px rgba(0,0,0,0.3);
      box-shadow: 6px 6px 6px rgba(0,0,0,0.3);

      &__tooltip{
        transform: translateY(-1.5rem);
        opacity: 1;
      }
    }

  }
}

.collection-avatar{
  position: relative;
  transition: 0.25s;
  display: flex;
  justify-content: center;

  &__tooltip{
    position: absolute;
    margin: auto;
    text-align: center;
    white-space: nowrap;
    background: rgba(55, 54, 61, 0.61);
    z-index: 1;
    opacity: 0;
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.6rem;
    transition: 0.25s;
  }
  &__figure {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border: 0.0625rem solid $secondary-color;
    background-size: cover;
    background-position: top;
    background-image: url("https://i.pinimg.com/originals/38/23/8b/38238b52c6aedc08524a3ac8b3288031.png");
  }


  &__img {
    width: 100%;
  }

}


