/* You can add global styles to this file, and also import other style files */
@import "assets/scss/reseter";
@import "assets/scss/color";
@import "assets/scss/font";
@import "assets/scss/grid";
@import "assets/scss/values";
@import "assets/scss/shapes";


body{
  background: $gradient-color-light;
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

img{
  width: 100%;
}
