/* You can add global styles to this file, and also import other style files */
@import "assets/scss/reseter";
@import "assets/scss/color";
@import "assets/scss/font";
@import "assets/scss/grid";
@import "assets/scss/values";
@import "assets/scss/shapes";


body{
  background: $gradient-color-light;
  height: 100vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

img{
  width: 100%;
}

@media only screen and (max-width: $mobile-size) {

  body{
    background: black;
  }
}
