<section class="character-viewer" [style.backgroundImage]="'url('+character.background+')'">
<figure class="character-viewer__figure" >
  <img class="character-viewer__img"
       src="{{character.picture}}" alt="">
</figure>

<div class="character-viewer__container-floor">
  <div class="character-viewer__floor character-viewer__floor--base"></div>
  <div class="character-viewer__floor character-viewer__floor--bottom"></div>
<div class="character-viewer__floor character-viewer__floor--medium"></div>
<div class="character-viewer__floor character-viewer__floor--top"></div>
</div>
</section>
